/apks/*
/libraries/*
/profiles/*
/database/*
/outputs/*
/statistics/*
/data/log/*
/example/*
.vscode
*.pdf
*.pyc
*.log
.DS_Store
*.pkl
/module/*.txt

!/example/init.sh
proguard_config/get_statistics - 副本.py
evaluate - 副本.py